<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">
    
    <xacro:arg name="use_ros2_control" default="true"/>

    <!--this will be just the robot core components (excluding sensors and such)-->
    <xacro:include filename="robot_core.xacro"/>

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>

    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro"/>
    </xacro:unless>



    <!--now add another for the lidar sensor-->
    <xacro:include filename="lidar.xacro"/>


</robot>